.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 16px;
}

/*Styles for product card*/

.product-two {

}

.product-two-card {
    z-index: 1;
    background: #1d212b;
    position: relative;
    width: 255px;
    height: 350px;
    border-radius: 10px;
}

.product-two .product-two-card:before {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-two .product-two-card .product-two-img {
    z-index: 1;
    position: absolute;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-two .product-two-card .name {
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}

.product-two .product-two-card .price {
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}

.product-two .product-two-card .popup-btn {
    z-index: 2;
    color: #fff;
    background: #555;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}